@using System.Collections.Generic
@using System.Linq
@using Sandbox.UI
@using TerryTyper.Controller
@using TerryTyper.Controller.Shop
@using TerryTyper.Controller.Shop.Category
@using TerryTyper.UI.Text
@inherits Panel
@implements IGamePage
@namespace TerryTyper.UI.Hud.Page.Shop
@attribute [StyleSheet]

<root>
	<div class="shop-section">
		<div class="shop-header">
			<h1 class="title">Themes</h1>
			<button class="open" @onclick=@(() => _shop.OpenCategory( _themes ))><label>Run the lootbox for 10wt?</label></button>
		</div>
		<div class="shop-cards">
			@foreach ( var theme in TextTheme.Themes.Values )
			{
				<ShopCard Selected="@(_selectedTheme == theme.Id)"
				          Icon="@theme.Icon"
				          Name="@theme.Name"
				          Unlocked="@_unlockedthemes.Contains( theme.Id )"
				          OnSelect="@( () => { _data.SelectTheme( theme.Id ); })"/>
			}
		</div>
	</div>
</root>

@code {
	public string Name => "Shop";
	public bool ShouldScroll => false;
	private ShopController _shop => TyperGame.Entity.GamePawn.Shop;
	private ThemeCategory _themes => _shop.Categories.OfType<ThemeCategory>().First();
	private DataController _data => TyperGame.Entity.GamePawn.Data;
	private IList<string> _unlockedthemes => _data.UnlockedThemes;
	private string _selectedTheme => _data.SelectedTheme;

}
