@namespace Sandtype.UI.Game
@using System
@inherits Sandbox.UI.Panel

<style>
	.game-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		padding:  40px;
		opacity: 0.8;
	}
</style>

<root style="backdrop-filter: blur(3px);">
	<BossPanel @ref="Boss" style="right: -250px;"/>
	<BetterGameWorld @ref="World" Game="@Game"/>
	<div class="game-overlay">
		@if ( Game != null && Game.PlayerHealth <= 0 )
		{
			<PlayerLose Game="@Game" Test="@Test"/>
		} else if ( Game != null && Game.TerryHealth <= 0 )
		{
			<PlayerWin Game="@Game" Test="@Test"/>
		}
	</div>
</root>

@code {

	public TypingTest Test;
	public TerryGame Game;
	public BetterGameWorld World;
	public BossPanel Boss;

	protected override int BuildHash()
	{
		return HashCode.Combine( Game?.TerryHealth, Game?.PlayerHealth, Game?.Paused,  Game?.TerryKillTime, Test?.FirstInputTime );
	}

}
