@namespace Sandtype.UI.Typing
@using Sandbox.UI;
@using System;
@using System.Collections.Generic
@using System.Linq
@using System.Net.Mime
@using System.Text.RegularExpressions
@using Sandbox
@attribute [StyleSheet("TextGhost.razor.scss")]
@inherits Panel


<root>
	@foreach ( var (c, cIndex) in _target.ToCharArray().Select( ( v, i ) => (v, i) ) )
	{
		@if ( _cursorPos == cIndex )
		{
			Log.Info( _target[cIndex] )	;
			if ( _target[cIndex] == ' ' )
			{
				// char is at the cursor (render space as underscore)
				<span style="color: white;">@('_')</span>
			}
			else
			{
				// char is at the cursor
				<span style="color: white;">@c</span>
			}
		}
		else if ( _cursorPos > cIndex ) {
			// char is before the cursor
			if ( _content[cIndex] != c )
			{
				Log.Info( "error: "+ _target[cIndex] );
				<span style="color: red;">@c</span>
			}
			else
			{
				<span style="color: #1e1e1e;">@c</span>
			}
		} else if (_cursorPos < cIndex)
		{
			<span style="color: #424242;">@c</span>
		}
	}
</root>

@code {

	private Pawn Pawn = Game.LocalPawn as Pawn;
	private string _target => Pawn.TypingGame.Target;
	private string _content => Pawn.TypingGame.Content;
	private int _cursorPos => _content.Length;

	private int NextToken( int characterIndex )
	{
		int nextSpace = _content.IndexOf( " ", characterIndex );
		return nextSpace;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( _target, _content );
	}

}
