@namespace Sandtype.UI.Typing
@using Sandbox.UI;
@using System;
@attribute [StyleSheet("TextGhost.razor.scss")]
@inherits Panel


<root>
	@foreach ( var (c, cIndex) in _target.ToCharArray().Select( ( v, i ) => (v, i) ) )
	{
		@if ( _cursorPos == cIndex )
		{
			if ( _target[cIndex] == ' ' )
			{
				// char is at the cursor (render space as underscore)
				<span style="color: white;">@('_')</span>
			}
			else
			{
				// char is at the cursor
				<span style="color: white;">@c</span>
			}
		}
		else if ( _cursorPos > cIndex ) {
			// char is before the cursor
			if ( _content[cIndex] != c )
			{
				<span style="color: red;">@c</span>
			}
			else
			{
				<span style="color: #1e1e1e;">@c</span>
			}
		} else if (_cursorPos < cIndex)
		{
			<span style="color: #424242;">@c</span>
		}
	}
	<TypingEntry/>
</root>

@code {


	protected override int BuildHash()
	{
		return HashCode.Combine( _target, _content );
	}

}
