@namespace Sandtype.UI.Typing
@using System
@using Sandtype.Engine;
@using Sandtype.UI;
@attribute [Sandbox.UI.StyleSheet("TypingStatus.razor.scss")]
@inherits Sandbox.UI.Panel


<root>
	@if ( Game.Started && !Game.Completed)
	{
		<h1>Length: @TimeSince</h1>
		<h1>WPM: @(WordsCounted / TimeSince.TotalMilliseconds)</h1>
		<h1>Chars: @Content.Length</h1>
	} else if ( Game.Completed )
	{
		<h1>Congrats, you finished! 🎉🎉🎉🎉🎉🎉🎉🎉🎉</h1>
		<h1>Duration: @Game.Time</h1>
		<h1>Words typed: @Game.Content.Split( " " ).Length</h1>
		<h1>Chars typed: @Game.Content.Length</h1>
		<h1>Wpm: @Game.FinalWpm</h1>
	}
</root>

@code {

	public TypingGame Game;
	public string Content => Game.Content;
	public TimeSpan TimeSince => DateTime.Now - Game.StartTime;
	public int WordsCounted => Game.Content.Split(" ").Length;

	protected override int BuildHash()
	{
		return HashCode.Combine( TimeSince, WordsCounted );
	}
	
}
