@namespace TerryTyper.UI.Race
@using System
@using System.Collections
@using System.Collections.Generic
@using Sandbox
@using TerryTyper.UI.Hud
@using TerryTyper.UI.Text
@using TerryTyper.UI.Race.Player
@using Sandbox.UI
@using TerryTyper.Race
@using TerryTyper.Util
@inherits Panel
@attribute [StyleSheet]

<root>
	<GamePage>
		<Content>
			<div class="active-race-header">
				<h1 class="race-name">@Race.Name</h1>
			</div>
			<div class="players">
				@foreach ( var player in Race.Components.GetAll<RacePlayer>() )
				{
					<RacePlayerItem Race="@Race" Player="@player"/>
				}
			</div>
			<div class="player">
				<TextInput @ref="_input" class="text-input" space.changed="@HandleSpace" onchanged="@HandleChanged"/>
			</div>
		</Content>
	</GamePage>
</root>

@code {

	public RaceEntity Race;
	private TextInput _input;

	public override void Tick()
	{
		base.Tick();
		_input.TargetTokens = Race.Target;
		StateHasChanged();
	}

	private void HandleChanged( PanelEvent e )
	{
		TyperGame.InputGameCmd( _input.Text );
	}
	
	private void HandleSpace(PanelEvent e)
	{
		TyperGame.SubmitGameCmd( (string)e.Value );
	}

	protected override int BuildHash()
	{
		var code = new HashCode();
		foreach (RacePlayer player in Race.Players )
		{
			code.Add( player.SteamId );
		}
	
		var res = code.ToHashCode();
		return res;
	}

}
